.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.App-link {
  color: #61dafb;
}

.navbar1 {
  background-color: white;
}
.navbar2 {
  background-color: #3d605b;
  /* transform: translateY(-50px); */
}

.footer {
  background-color: #3d605b;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-width: 100vh;
  min-height: 100vh;
  flex-grow: 1;
}

.image:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.flag {
  width: 30px !important;
  height: 20px;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 0.5em;
}
.image {
  border-radius: 100% 100%;
}
.modal-button {
  background-color: yellow;
}
.modal-title {
  color: #0b3f5e;
}
